@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  border-radius: 6px;
  width: 150px;
  height: 225px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.card__image {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
} 

.card__content {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  transition: display 0.2s ease-out;
}

.card__label {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0));
  backdrop-filter: "blur(10px)";
  background-color:rgba(100, 100, 100, 0.5);
  width: fit-content;
  padding: 5px;
  margin: 10px;
  color: azure;
  border-radius: 4px;
  font-size: 0.8vmax;
}

.card__description {
  background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  background-color:rgba(100, 100, 100, 0.5);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__year {
  font-weight: 400;
  padding-left: 5px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 0.7vmax;
  color: azure;
}

.card__title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: azure;
  padding: 5px;
  padding-top: 0px;
  margin-left: 10px;
}

.card__rating {
  font-size: 0.7vmax;
  color: azure;
  margin: 0px 15px;
}

.card__genres {
  font-size: 0.6rem;
  line-height: 1rem;
  color: rgb(214, 218, 218);
  padding: 5px;
  margin: 0px 10px;
  margin-bottom: 10px;
}

.card:hover .card__content {
  display: flex;
  transition: display 0.5s ease-in;
}

@keyframes breath {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.detail {
  width: 100%;
}

.detail__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 100vh;
  width: 100%; 
  object-fit: cover;
  overflow: hidden;
}

.detail__image {
  filter: saturate(1.3) contrast(1.2) brightness(1.2);
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  animation: breath 15s ease-in-out alternate infinite;
  z-index: -1;
}

.detail__filter {
  position: absolute;
  width: inherit;
  height: inherit;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(193, 193, 193, 0.1)
  );
}

.detail__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  position: absolute;
  color: white;
}

.detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  margin-bottom: 2vh;
}

.detail__info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 2vw;
  width: 50%;
  height: 100%;
}

.detail__info-left__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 5rem;
}

.detail__info-left__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 5rem;
}

.detail__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 8vh;
  font-weight: bold;
  margin-bottom: 1vh;
}

.detail__tagline {
  color: rgb(168 85 247);
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 1vh;
}

.detail__overview {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vh;
  font-weight: bold;
  margin-bottom: 1vh;
}

.detail__info-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.detail__info-right__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 50%;
  padding-left: 7rem;
}

.detail__info-right__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
